<% rmp_mailer_header(l(:notice_account_activated)) %>

<div style="padding: 0 20px 20px 20px; color: #000; font-size: 14px;">
  <%= l(:label_login) %>: <%= link_to @login_url, @login_url, style: 'color:#0298CD' %>
</div>
