<% rmp_mailer_header(l(:mail_body_lost_password)) %>

<div style="padding: 0 20px 20px 20px; color: #000; font-size: 14px;">
  <p><%= link_to @url, @url, style: 'color:#0298CD' %></p>

  <p>
    <%= l(:field_login) %>: <b><%= @token.user.login %></b>
  </p>
</div>
